<div class="panel panel-default app-content-panel" *ngIf="userContext().isLoggedIn()">

    <div class="panel-heading" role="tab">
        <h4>Account Settings</h4>
    </div>
    <div *ngIf="confirmMsg">
        <div class="alert alert-danger" role="alert" *ngIf="!confirmMsg.success">{{confirmMsg.message}}</div>
        <div class="alert alert-success" role="alert" *ngIf="confirmMsg.success">{{confirmMsg.message}}</div>
    </div>

    <div class="panel-body">
        <h3>Account: {{currentUser.name}}</h3>
        <div class="settings-input">
            <label><h4>Temparature:</h4></label>
            <div class="input-group">
                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.temp.min}}">min</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.temp.min">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>

            <div class="input-group">

                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.temp.max}}">max</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.temp.max">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>

        </div>
        <div class="settings-input">
            <label><h4>Brightness:</h4></label>
            <div class="input-group">

                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.brightness.min}}">min</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.brightness.min">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>

            <div class="input-group">

                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.brightness.max}}">max</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.brightness.max">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>

        </div>
        <div class="settings-input">
            <label><h4>Humidity:</h4></label>
            <div class="input-group">

                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.humidity.max}}">min</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.humidity.min">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>
            <div class="input-group">

                <span class="input-group-addon form-icon settings-form-icon"
                      id="basic-addon{{currentUser.settings.humidity.min}}">max</span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="model.settings.humidity.max">
                <!--<span class="input-group-addon form-icon settings-unit-icon">min</span>-->
            </div>
        </div>
        <div class="settings-buttons">
            <button type="button" class="btn btn-success" (click)="saveAccountSettings()">Save</button>
        </div>
    </div>
</div>