<div class="login-modal modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" [(ngModel)]="name">
                <label for="password">Password: </label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password">

                <div class="controls">
                    <button type="button" class="btn btn-default">Register</button>
                    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>