<div class="panel panel-default users-panel" *ngIf="userContext().isLoggedIn()">

    <div class="panel-heading" role="tab">
        <h4>Users</h4>
    </div>

    <div class="panel-body api-users">

            <ul>
                <li *ngFor="let user of users">
                      <div (click)="gotoUsageDetail(user.name)" >
                          <span class="badge" style="padding-left: 5px"><span class="glyphicon glyphicon-user"></span></span>
                          <span class="username">{{user.name}}</span>
                      </div>
                </li>
            </ul>

    </div>


</div>