<div class="panel panel-default users-panel" *ngIf="userContext().isLoggedIn()">

    <div class="panel-heading" role="tab">
        <h4>Users</h4>
    </div>

    <div class="panel-body">

        <div id="accordion" role="tablist" aria-multiselectable="true">
            <ul>
                <li *ngFor="let user of users">
                    <div class="panel panel-default ">

                        <div class="panel-heading" role="tab" id="heading{{user.name}}" aria-expanded="false">

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{user.name}}">
                                {{user.name}}
                            </a>
                        </div>

                        <div class="panel-body " id="collapse{{user.name}}" class="panel-collapse collapse user-panel"
                             role="tabpanel"
                             aria-expanded="false">
                            <div class="input-group">
                                <span class="input-group-addon form-icon" id="basic-addon{{user.name}}"><span
                                        class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" placeholder="{{user.name}}">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon form-icon" id="basic-addon{{user.email}}"><span
                                        class="glyphicon glyphicon-envelope"></span></span>
                                <input type="text" class="form-control" placeholder="{{user.email}}">
                            </div>
                        </div>

                    </div>
                </li>
            </ul>

        </div>
    </div>


</div>
